.main_header{
    height: 100 !important;
    text-align: right;
    font-size: 3rem;
    background-color: #09387E;
    color: whitesmoke;
    border-radius: 10px;
    margin: 0rem 0rem 1.5rem 0rem !important;

    .logo_img{
        margin-bottom: 0.6rem;
    }
    svg{
        margin:0rem 1rem;
    }
}